.over:hover {
	background-color: #007bff;
}

.tooltip-text--width {
	width: 77px;
}

.cursor-pointer {
	cursor: pointer !important;
}

.list-item--no-border {
	outline: none;
}

.icon--small {
	font-size: 12px;
}

.icon--bottom-right {
	top: 12px;
	left: 13px;
}

.icon--small-green-text {
	// color: #a6eeff !important;
	color: green !important;
}
